.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    min-height: 400px;
    max-height: 400px;
    gap: 40px;
    background-color: #006d77;
}

.content {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.text-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    padding: 0px 10px;
    color: #fdfbec;
}

.text-group-title {
    font-size: 24px;
    font-family: 'main-regular';
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    gap: 20px;
}

.copyright {
    color: #fff;
    font-family: 'secondary-light';
    color: #fdfbec;
}

.text-group-content {
    font-family: 'secondary-light';
    font-size: 14px;
    line-height: 30px;
}

.text-group-link,
.text-group-link a {
    font-family: 'secondary-bold';
    font-size: 14px;
    line-height: 30px;
    color: #fdfbec;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.text-group-link:hover,
.text-group-link a:hover,
.social-media-icon:hover {
    color: #00d8ec92;
    cursor: pointer;
    text-decoration: none;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.social-media-icon {
    width: 24px;
    height: 24px;
    color: #fdfbec;
    transition: color 0.3s ease-in-out;
}
